body {
  background-color: white; 
  font-family: Roboto;
}

.search-container{
  margin: 0px 10px;
  padding: 0;
  align-items: center;
  flex: 1;
}

.search{
  display: flex;
  justify-content: center;
  padding-right: 20px;
  flex: 1;
}
.search input{
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.search input:focus{
  outline: none;
}

.search-btn button{
  display: flex;
  text-align: center;
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 7px 9px;
  margin: 0 auto;
}
.data-container{
  display: flex;
  justify-content: center;
}
.data{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}
.data img{
  width: 200px;
  height: 200px;
}

.data-info{
  display: grid;
}

.data div{
  padding: 5px;
  text-transform: capitalize;
  
}

.pokemon-card{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
}

.pokemon-img-container{
  padding: 0px 5px;
}

.pokemon-img{
  background-color: #d9d9d9;
  margin-top: 15px;
  margin-left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}
.card-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3{
  text-transform: capitalize;
}

.menu-container{
  padding: 10px 10px 10px 10px;
  flex: 1;
  font-size: 30px;
}

.card-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.container-input{
  display: flex;
  justify-content: center;
}
.container-btn{
  display: flex;
  justify-content: center;
}

.name{
  margin: 10px;
}
.type{
  margin: 10px;
}
.weight{
  margin: 10px;
}
.abilities{
  margin: 10px;;

}
.exp{
  margin: 10px;
}
.move{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.links{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.link-pokemon{
  margin: 20px;
}

.link-lista{
  margin: 20px;
}

.link-combate{
  margin: 20px;
}

.link-historial{
  margin: 20px;
}

.img-container{
  display: flex;

}

.pokemon-box{
  display: flex;
  justify-content: center;
}


.pokemon-battle-container h1{
  display: flex;
  justify-content: center;
}

.pokemon-1-container{
  margin: 50px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 15px;
}

.pokemon-2-container{
  margin: 50px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 15px;
}

.battle1-container{
  text-transform: capitalize;
  margin-top: 10px;
}

.battle2-container{
  text-transform: capitalize;
  margin-top: 10px;
}

.battle1-container img{
  height: 150px;
  width: 150px;
  background-color: #cacaca;
  margin-left: 50px;
  border-radius: 8px;
}

.battle2-container img{
  height: 150px;
  width: 150px;
  background-color: #cacaca;
  margin-left: 50px;
  border-radius: 8px;
}

.battle-1-box button{
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 7px 9px;
  margin: 0 auto;
}

.pick-box1 button{
  background-color: #363636;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 12px;
  margin: 0 auto;
}

.pick-box1 input{
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.pick-box2 button{
  background-color: #363636;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 12px;
  margin: 0 auto;
}

.pick-box2 input{
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.battle-2-box button{
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 7px 9px;
  margin: 0 auto;
}

.vs h1{
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.lista-tittle h1{
  display: flex;
  justify-content: center;
}